<div class="container">
  <div class="panel-title">Angular</div>
  <div>
    <div class="panel-topic">
      <div><a routerLink="../angular/multi-module">Multi modules</a></div>
      <div><a routerLink="../angular/router">Configuring a Router/ RouterOutlet</a></div>
      <div><a routerLink="../angular/form">Form</a></div>
      <div><a routerLink="../angular/view-encapsulation">ViewEncapsulation</a></div>
      <div><a routerLink="../angular/angular-styling">Style/Class bindings and NgStyle/ngClass</a></div>
      <div><a routerLink="../angular/final-project">Final Project Practice</a></div>
    </div>
  </div>
</div>

