<div class="container">
<div>
  <h1>Implementation of Basic Navigation Bar in CSS</h1>
  <section class="sources">
    <a href="https://youtu.be/2DVkNvVcQAU?si=kwyjGuZBE77pJRVt">Source(How to Create Navbar in HTML and CSS)</a>
  </section>
  <header class="task">The task is to be able to deploy a navigation bar</header>

</div>
<div>
<h1>HTML</h1>
<pre><code [highlight]="html_code" language="html"></code></pre>
</div>
<div>
  <h1>CSS</h1>
  <pre><code [highlight]="css_code" language="css"></code></pre>
</div>
</div>
