<div class="container">
    <div class="panel-title">Java</div>
  <div>
    <div class="panel-topic">
      <div><a routerLink="java/websocket"> Implementation Client/Server Websocket</a></div>
    </div>
    <div class="panel-topic">
      <div><a routerLink="java/arrays">Working with Arrays</a></div>
    </div>
    <div class="panel-topic">
      <div><a routerLink="java/collections">Working with Collections</a></div>
    </div>
    <div class="panel-topic">
      <div><a routerLink="java/exception-handler">Intercept REST Exception with &#64;ExceptionHandler</a></div>
    </div>
  </div>
</div>
