<div class="container">
  <h1>{{title}}</h1>
  <header class="task">
   {{task}}
  </header>

  <section>
    <h2>{{subTitle}}</h2>
    <p>Download the <a href="https://github.com/ultimatecourses/angular-basics-seed">starter project</a> to get setup</p>
<!--    <pre><code [highlight]="placeholder" language="typescript"></code></pre>-->
  </section>
  <section>
    <h2>2. Follow these guidlines</h2>
    <ul>
      <li>Create a child Feature Module called <span style="font-weight: bold">Admin</span> inside "admin" folder</li>
      <li>Create a smart container component called <span style="font-weight: bold">DonutList</span> inside "admin/containers" folder</li>
      <li>Create an interface in "admin/models/" called <span style="font-weight: bold">Donut</span> to use type definitions with the data model provided below </li>
      <li>Create and render a dumb component in "admin/components" called <span style="font-weight: bold">DonutCard</span></li>
      <li>Pass state to dumb components via Input decorator</li>
      <li>List several donuts cards inside DonutsList componentu using ng-container</li>
      <li>Style the application using the preview provided below</li>
      <li>Remove the div container style and use host element css style :host</li>
      <li>Demonstrate ngStyle & ngClass using a promo optional field in the donut in changing the background of a donut in promotion for instance</li>
      <li>Use a Pipe to format currency</li>
      <li>Demonstrate use of ng-container and ng-template to render the donuts</li>
      <li>Demonstrate use of ng-switch with the promo attribute being 'new' or 'limited'</li>
    </ul>
        <pre><code [highlight]="data_model" language="typescript"></code></pre>
    <div class="image">
      <div>Preview of the project</div>
      <img src="assets/preview.png" alt="Project overview" width="100px" height="100px">
    </div>
  </section>
</div>
